<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Pitch Detector</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
  <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
  <header>
    <h1>Pitch Detector</h1>
    <nav>
      <a href="{{ url_for('main.home') }}">Home</a> |
      <a href="{{ url_for('main.pitch_page') }}">Record</a> |
      <a href="{{ url_for('main.history_page') }}">History</a>
    </nav>
  </header>

  <main>
    <div class="main-box">
      <h2>This is Pitch Detector</h2>
      <p>A detector to help you find the pitch of your voice!</p>
      <button id="login-btn" type="button">Log In</button>
      <button id="signup-btn" type="button">Sign Up</button>
    </div>

    <section id="login-container" hidden>
      <h2>Login</h2>
      <p>Enter your credentials to continue.</p>
      <form id="login-form">
        <div>
          <label for="login-username">Username:</label>
          <input type="text" id="login-username" required />
        </div>
        <div>
          <label for="login-password">Password:</label>
          <input type="password" id="login-password" required />
        </div>
        <button type="submit">Submit</button>
        <button id="login-close-btn" type="button">Close</button>
      </form>
    </section>
    <section id="signup-container" hidden>
      <h2>Sign Up</h2>
      <p>Create your account to continue.</p>
      <form id="signup-form">
          <div>
          <label for="signup-username">Username:</label>
          <input type="text" id="signup-username" required />
          </div>
          <div>
          <label for="signup-password">Password:</label>
          <input type="password" id="signup-password" required />
          </div>
          <button type="submit">Create Account</button>
          <button id="signup-close-btn" type="button">Close</button>
      </form>
    </section>
  </main>
</body>
</html>
